<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vehicle.mapper.UserCarInfoMapper">
  <resultMap id="BaseResultMap" type="com.vehicle.model.entity.UserCarInfo">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <id column="car_id" jdbcType="VARCHAR" property="car_id" />
    <id column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from user_car_info
    where `uid` = #{uid,jdbcType=VARCHAR}
      and car_id = #{car_id,jdbcType=VARCHAR}
      and `state` = #{state,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.vehicle.model.entity.UserCarInfo">
    insert into user_car_info (`uid`, car_id, `state`
      )
    values (#{uid,jdbcType=VARCHAR}, #{car_id,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select `uid`, car_id, `state`
    from user_car_info
  </select>
</mapper>